html
  head
    //if lt IE 9
    //script(type='text/javascript',src='javascript/html5shiv.min.js')
    //script(type='text/javascript',src='javascript/respond.min.js')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.paper.css')
    link(rel='stylesheet', href='stylesheets/font-awesome-4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrapValidator.min.css')
    // BootstrapValidator CSS 
    link(rel='stylesheet', href='stylesheets/animate.css')
    // Customiced CSS 
    link(rel='stylesheet', href='stylesheets/style.css')  

    // jQuery and Bootstrap JS 
    //script(type='text/javascript', src='javascript/jquery-2.0.3.min.js')
    //script(type='text/javascript', src='javascript/bootstrap.min.js')


    // Bootstrap CSS 
    //link(rel='stylesheet', href='stylesheets/bootstrap.css')
    // Include FontAwesome CSS if you want to use feedback icons provided by FontAwesome 
    //link(rel='stylesheet', href='stylesheets/font-awesome-4.1.0/css/font-awesome.min.css')

  body
    | &nbsp; 
    .container
      .row
        .col-lg-8.col-lg-offset-2
          form#registrationForm.geo.form-horizontal(method='post', action='...')
            // Loan info section              
            .panel.panel-default.animatedx3.bounceInDown
              .panel-heading 
                h4 Loan Information

              .panel-body   
                .form-group
                  label.col-lg-3.control-label Funding Type
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='fundType', value='Cash')
                        | Cash
                  .col-lg-2  
                    .radio
                      label
                        input(type='radio', name='fundType', value='Check')
                        | Check
                  .col-lg-2  
                    .radio
                      label
                        input(type='radio', name='fundType', value='Ach')
                        | Ach  
                .form-group
                  label.col-lg-3.control-label Pay Schedule           
                  .col-lg-5
                    input.form-control(type='text', name='paySchedule', placeholder="Pay Schedule") 

            .panel.panel-default.animatedx3.bounceInDown  
              .panel-heading 
                h4 Personal Info         
              .panel-body  
                // Personal Info section              
                .form-group
                  label.col-lg-3.control-label Drivers License
                  .col-lg-5
                    //input.form-control(type='text', name='fusername', placeholder="First Name", data-bv-regexp="true", data-bv-notempty="true", data-bv-stringlength="true", data-bv-stringlength-message="The username must be more than 6 and less than 30 characters long", data-bv-notempty-message="#{__('E1')}")
                    input.form-control(type='text', name='driLicense', placeholder="Drivers License")                                      
                .form-group
                  label.col-lg-3.control-label Drivers License State              
                  .col-lg-5
                    input.form-control(type='text', name='licenState', placeholder="Drivers License State")                                    
                .form-group
                  label.col-lg-3.control-label Is Military
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='isMilitary', value='Yes')
                        | Yes   
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='isMilitary', value='No')
                        | No  

            // Contact info section              
            .panel.panel-default.animatedx3.bounceInUp 
              .panel-heading 
                h4 Contact Information  
              .panel-body               
                .form-group
                  label.col-lg-3.control-label Address
                  .col-lg-5
                    input#geocomplete.form-control(name='address_trigger' type='text', placeholder='Type in an address')
                    
                  label.col-lg-1.control-label 
                    //input#find.btn.btn-default(type='button', value='Find')
                .form-group
                    label.col-lg-3.control-label 
                    .col-lg-5                  
                      input.form-control(name='formatted_address', type='text' )
                      input.form-control(name='or_formatted_address', type='hidden')
                .form-group
                    label.col-lg-3.control-label Postal Code
                    .col-lg-5
                      input.form-control(name='postal_code', type='text', value='')
                      input.form-control(name='or_postal_code', type='hidden', value='')
                .form-group
                    label.col-lg-3.control-label Locality
                    .col-lg-5
                      input.form-control(name='locality', type='text', value='')
                      input.form-control(name='or_locality', type='hidden', value='')
                .form-group
                    label.col-lg-3.control-label State
                    .col-lg-5
                      input.form-control(name='administrative_area_level_1', type='text', value='')   
                      input.form-control(name='or_administrative_area_level_1', type='hidden', value='')   
                .form-group
                  label.col-lg-3.control-label Month At Address
                  .col-lg-5
                    input.form-control(type='text', name='months' )                                    
                .form-group
                  label.col-lg-3.control-label Mail Address Same
                  .col-lg-2
                    .radio
                      label
                        input#sameAdd(type='radio', name='addSame', value='Yes')
                        | Yes
                  .col-lg-2
                    .radio
                      label
                        input#nosameAdd(type='radio', name='addSame', value='No')
                        | No 
                // Mail address section        
                .form-group
                    label.col-lg-3.control-label Mailed Address
                    .col-lg-5                  
                      input#geocompletes.form-control(name='mailed_formatted_address', type='text', value='')
                .form-group
                    label.col-lg-3.control-label Mailed Postal Code
                    .col-lg-5
                      input.form-control(name='mailed_postal_code', type='text', value='')
                .form-group
                    label.col-lg-3.control-label Mailed City
                    .col-lg-5
                      input.form-control(name='mailed_locality', type='text', value='')
                .form-group
                    label.col-lg-3.control-label Mailed State
                    .col-lg-5
                      input.form-control(name='mailed_administrative_area_level_1', type='text', value='')  

            // Employment Information section
            .panel.panel-default.animatedx3.bounceInUp 
              .panel-heading 
                h4 Employment Information  
              .panel-body                
                .form-group
                  label.col-lg-3.control-label Total Income
                  .col-lg-5
                    input.form-control(type='text', name='totalIncome' )  
                .form-group
                  label.col-lg-3.control-label Income Type
                  .col-lg-2
                    .radio
                      label
                        input#sameAdd(type='radio', name='incomeType', value='Type1')
                        | Type1
                  .col-lg-2
                    .radio
                      label
                        input#nosameAdd(type='radio', name='incomeType', value='TYpe2')
                        | TYpe2 
                .form-group
                  label.col-lg-3.control-label Pay roll Type
                  .col-lg-2
                    .radio
                      label
                        input#sameAdd(type='radio', name='payrollType', value='cash')
                        | Cash
                  .col-lg-2
                    .radio
                      label
                        input#nosameAdd(type='radio', name='payrollType', value='check')
                        | Check 
                  .col-lg-3
                    .radio
                      label
                        input#nosameAdd(type='radio', name='payrollType', value='DirectDeposit')
                        | Direct Deposit 
                .form-group
                  label.col-lg-3.control-label Holiday Skipping
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='holidaySkip', value='None')
                        | None
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='holidaySkip', value='MoveEarlier')
                        | MoveEarlier
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='holidaySkip', value='MoveLater')
                        | MoveLater
                  .col-lg-6.col-lg-offset-3
                    .radio
                      label
                        input(type='radio', name='holidaySkip', value='MoveToNearestPreferEarlier')
                        | Move To Nearest Prefer Earlier  
                  .col-lg-6.col-lg-offset-3
                    .radio
                      label
                        input(type='radio', name='holidaySkip', value='MoveToNearestPreferLater')
                        | Move To Nearest Prefer Later                                                
                .form-group
                  label.col-lg-3.control-label Pay Frequency
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='pfren', value='Weekly')
                        | Weekly
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='pfren', value='BiWeekly')
                        | BiWeekly
                  .col-lg-2
                    .radio
                      label
                        input(type='radio', name='pfren', value='Monthly')
                        | Monthly
                .form-group
                  label.col-lg-3.control-label Employer Name
                  .col-lg-5
                    input.form-control(type='text', name='employerName' )  
                .form-group
                  label.col-lg-3.control-label Occupation
                  .col-lg-5
                    input.form-control(type='text', name='occupation' )    
                .form-group
                  label.col-lg-3.control-label Work Address
                  .col-lg-5
                    input.form-control(type='text', name='workAddress' )    
                .form-group
                  label.col-lg-3.control-label Work City
                  .col-lg-5
                    input.form-control(type='text', name='workCity' )    
                .form-group
                  label.col-lg-3.control-label Work State
                  .col-lg-5
                    input.form-control(type='text', name='workState' ) 
                .form-group                                                                                                                     
                  label.col-lg-3.control-label Work Zip
                  .col-lg-5
                    input.form-control(type='text', name='workZip' ) 
                .form-group
                  label.col-lg-3.control-label work Phone
                  .col-lg-5
                    input.form-control(type='text', name='wPhone', placeholder="xxx-xxx-xxxx")                                    
                .form-group
                  label.col-lg-3.control-label Work Phone Ext
                  .col-lg-5
                    input.form-control(type='text', name='wPhoneext', placeholder="xx")                                    
                .form-group
                  label.col-lg-3.control-label Work Phone
                  .col-lg-5
                    input.form-control(type='text', name='wPhonec', placeholder="xxx-xxx-xxxx")                      

            // Employment Information section
            .panel.panel-default.animatedx3.bounceInUp  
              .panel-heading 
                h4 Bank Information  
              .panel-body                
                .form-group
                  label.col-lg-3.control-label Bank Name
                  .col-lg-5
                    input.form-control(type='text', name='bankName' ) 
                .form-group
                  label.col-lg-3.control-label Bank City
                  .col-lg-5
                    input.form-control(type='text', name='bankCity' )                     
                .form-group
                  label.col-lg-3.control-label Bank State
                  .col-lg-5
                    input.form-control(type='text', name='bankState' )  
                .form-group
                  label.col-lg-3.control-label ABA Number
                  .col-lg-5
                    input.form-control(type='text', name='abaNumber' )  
                .form-group
                  label.col-lg-3.control-label Account Number
                  .col-lg-5
                    input.form-control(type='text', name='accountNumber' )   
                .form-group
                  label.col-lg-3.control-label Account Tyoe
                  .col-lg-2
                    .checkbox
                      label
                        input(type='checkbox', name='accountType', value='Checking')
                        | Checking
                  .col-lg-2
                    .checkbox
                      label
                        input(type='checkbox', name='accountType', value='Saving')
                        | Saving

                .form-group
                  label.col-lg-3.control-label Month With Account
                  .col-lg-5
                    input.form-control(type='text', name='monthwithAccount' )  

                // Validate button                                                                             
                .form-group
                  .col-lg-8.col-lg-offset-3
                    // Do NOT use name="submit" or id="submit" for the Submit button 
                    button.btn.btn-default(type='') Front Validate 
                    | &nbsp;
                    // Reset help css style
                    //#rest_btn.button.btn.btn-default(type='') Reset 
                    #va_btn.button.btn.btn-default Sever Validate

              #textva.alert.alert-warning.animatedx3.flash
                //- #va_error_btn.button.close(type='button', data-dismiss='alert')
                //-   span() x
                //- span.sr-only Close
                strong Warning!
                #serverva.span 

              #textva_passed.alert.alert-success.animatedx3.flash
                //- #va_error_btn.button.close(type='button', data-dismiss='alert')
                //-   span() x
                //- span.sr-only Close
                strong Approved!
                #serverva__passed.span                      


    // jQuery and Bootstrap JS 
    script(type='text/javascript', src='javascript/jquery-1.11.0.js')
    //script(type='text/javascript', src='javascript/bootstrap.min.js')

    // Socket.io
    script(type='text/javascript', src='/socket.io/socket.io.js')
    // BootstrapValidator JS 
    script(type='text/javascript', src='javascript/bootstrapValidator.min.js')
    // Validator JS 
    script(type='text/javascript', src='javascript/va_2.js')  
    // Mask JS 
    script(type='text/javascript', src='javascript/jquery.mask.min.js')                     

    // Geo finder
    script(src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
    //script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='javascript/jquery.geocomplete.js')
    script(src='javascript/geo.js')   