@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

/*.scrollpoint {
  opacity: 0;
}
.scrollpoint.active {
  opacity: 1 \0;
}*/

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 200px;
  /*margin-top:50px;*/
  padding-top:20px;
  padding-bottom:10px;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#cecece;
  text-align: left;
  font-weight: 550;
}

#footer a {
  color:#333;
}

#footer h5 {
  color:#fff;
  font-size: 18px;  
  
}

h1,h2,h3,h4 {
  /*font-family: 'Kreon', serif;*/
  vertical-align:middle;
}

header {
  background: #fff;
  height:800px;
  color:#000000;
}

header h1,header h2,header h3 a,header a,header a:hover {
  color:#111;
  font-weight:800;
  text-decoration:none;
}

header h3 {    
  padding:5px;  
  font-size:25px;
  padding:0px 0px 0px 0px;
  color: #111;
}

header h3 p{
  font-size:15px;
  color: #111;
  padding:5px; 
  margin-left: 10px;
  text-transform:uppercase;
}

header .dropdown-menu {
  top:54px;
  background: #eee;
  border-width:0;
}

h1 {
  font-size:50px;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .3s ease-in-out;
}

#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #eee;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #111;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .dropdown-menu{
	right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:100px;
}

.row_divider {
  height:50px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
		height: 95px;
	}
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:3%;
   z-index:100;
   background: #aaa;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:0px;
}

section .heading-line {
  margin:0 auto;
  display: block;
  height: 1px;
  width: 80px;
  background: #333;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bg-1 {
	background: url(../img/intro-bg_1.jpg) repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url(../img/intro-bg_3.jpg) repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url(../img/intro-bg_7.jpg) repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-5 {
  background: url(../img/page-background.png) repeat center center fixed; 
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.bg-4 {
	padding-top:30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}

#example1 .panel-counter {
  padding: 5px;
  font-size: 30px;
  color: #000;
  -moz-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -moz-transform: rotate(-90deg) translateY(100%);
  -webkit-transform: rotate(-90deg) translateY(100%);
  transform: rotate(-90deg) translateY(100%);
  max-width: 100%; max-height: 525px;
}

@media (max-width: 860px) {
  #example1.custom-responsive .panel-counter {
    font-size: 16px;
    padding: 2px;
    bottom: 2px !important;
    left: 2px !important;
  }

  #example1.custom-responsive .hide-medium-screen,
}

@media (max-width: 640px) {
  #example1.custom-responsive .as-layer,
  #example1.custom-responsive .hide-small-screen,
}

@media (max-width: 450px) {
  #example1.custom-responsive .as-layer,
}

#example-xml .as-panel-counter {
  padding: 5px;
  font-size: 20px;
  color: #333;
  -moz-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -moz-transform: rotate(-90deg) translateY(100%);
  -webkit-transform: rotate(-90deg) translateY(100%);
  transform: rotate(-90deg) translateY(100%);
}

.controls,
.example-description {
  margin-top: 30px;
  text-align: center;
}

.controls a {
  color: #333;
}

.controls span.custom-arrow {
  display: none;
}
/*--------------------------------------------------------------------------
+ Services Style
--------------------------------------------------------------------------*/
/* Multicolumn */
.service-wrapper {
  background: #FFF;
  margin: 20px 10px;
  text-align: center;
  padding: 30px 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  color: 0 0 3px #999;
}
.service-wrapper h3 {
  font-size: 1.2em;
  margin: 10px 0 !important;
}
.service-wrapper p {
  margin-top: 0;
}
/* Row */
.service-wrapper-row {
  padding: 10px 0;
}
.service-wrapper-row h3 {
  padding-top: 15px;
}
.service-wrapper-row .service-image {
  padding-top: 15px;
  text-align: center;
}
.service-wrapper-row .service-image img {
  max-width: 80%;
  vertical-align: bottom;
  bottom: 0;
  border: 7px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  color: 0 0 8px #999;
}
/*--------------------------------------------------------------------------
+ Pricing Table Style
--------------------------------------------------------------------------*/
.pricing-plan {
  float: left;
  text-align: center;
  background: #fafafa;
  position: relative;
  width: 48%;
  margin: 10px 1% 10px 0;
  padding: 20px;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  color: 0 1px 8px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-box-shadow .25s linear;
  -moz-transition: -moz-box-shadow .25s linear;
  -o-transition: box-shadow .25s linear;
  -ms-transition: box-shadow .25s linear;
  transition: box-shadow .25s linear;
}
.pricing-plan:hover {
  -webkit-box-shadow: 0 0 8px #333;
  -moz-box-shadow: 0 0 8px #333;
  box-shadow: 0 0 8px #333;
  color: 0 0 8px #333;
  z-index: 5;
}
.pricing-plan .pricing-plan-title {
  position: relative;
  margin: -20px -10px 20px;
  padding: 20px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #595f6b;
  border-bottom: 1px dashed #d2d2d2;
}
.pricing-plan .pricing-plan-title:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-size: 3px 1px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIiIHN0b3AtY29sb3I9IndoaXRlIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0id2hpdGUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZDJkMmQyIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IiIgc3RvcC1jb2xvcj0iI2QyZDJkMiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: -webkit-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: -o-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: linear-gradient(to right, white, white 33%, #d2d2d2 34%, #d2d2d2);
}
.pricing-plan .pricing-plan-price {
  margin: 0 auto 20px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background: #595f6b;
  -webkit-border-radius: 45px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 45px;
  -moz-background-clip: padding;
  border-radius: 45px;
  background-clip: padding-box;
}
.pricing-plan .pricing-plan-price span {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}
.pricing-plan .pricing-plan-features {
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 2;
  font-size: 12px;
  color: #999;
  text-align: center;
  list-style-type: none;
}
.pricing-plan .pricing-plan-features li strong {
  font-weight: bold;
  color: #888;
}
.pricing-plan .pricing-plan-promote {
  margin: 0;
  padding: 40px 20px;
  background-color: white;
  border-width: 2px;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  z-index: 4;
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.price-ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #FFF;
  color: #6a6340;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  color: 0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-green {
  background-color: #BFDC7A;
}
.ribbon-blue {
  background-color: #5ACBFF;
}
.ribbon-orange {
  background-color: #FF9542;
}
.ribbon-red {
  background-color: #FF7373;
}
@media (min-width: 768px) {
  .pricing-plan {
    width: 25%;
    margin: 20px 0;
    padding: 20px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
  }
  .pricing-plan:first-child {
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomleft: 7px;
    -moz-background-clip: padding;
    border-bottom-left-radius: 7px;
    background-clip: padding-box;
  }
  .pricing-plan:last-child {
    border-width: 2px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 7px;
    -moz-background-clip: padding;
    border-bottom-right-radius: 7px;
    background-clip: padding-box;
  }
  .pricing-plan-promote {
    background: #fff;
    padding: 40px;
    margin-top: 0;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    z-index: 4;
  }
}

/*--------------------------------------------------------------------------
+ Testimonials Style
--------------------------------------------------------------------------*/
.testimonial blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
}
.testimonial blockquote p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.testimonial .testimonial-bubble {
  text-align: justify;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  margin: 35px 10px 20px 10px;
  background: #FFF;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .testimonial-bubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: -10px;
  left: 45%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonial .author-photo {
  text-align: center;
}
.testimonial .author-photo img {
  margin: auto;
  border: 5px solid #FFF;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .author-info {
  font-weight: 400;
  font-size: 0.8em;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

#carousel-slider a i:hover {
  background:#bfbfbf;
  color:#fff;
  border: 1px solid #bfbfbf;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:0px
}

#carousel-slider .carousel-control.right i {
  right: 0px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}
